* {
    padding: 0;
    margin: 0;
}

/* Typography & Background Color */

body {
    font-family: 'Luckiest Guy';
    background-color: #e6e6e6;
}

/* Navigation Bar Layout */

.navbar {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 7%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fed766;
    color: white;
    font-size: 1rem;
}

/* Layout */ 

.container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: white;
    margin: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.score-panel {
    align-items: center;
    text-align: center;
    padding: 0.5em;
    padding-bottom: 1%;
    display: flex;
    font-size: 1rem;
}

.score-panel span {
    padding: 0.5em;
}

.question {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.question span {
    font-size: 1.3rem;
    color: gray;
    text-align: center;
    padding: 1em;
}

#country-name {
    color: #2ab7ca;
    text-align: center;
    padding: 0.5em;
}

.question input[type=text] {
    font: 1.2rem/1 "Luckiest Guy", sans-serif;
    margin: 1em;
    padding: 0.4em;
}

.question input[type=submit] {
    background-color: #2ab7ca; 
    border: none;
    border-radius: 3px;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Luckiest Guy';
    cursor: pointer;
    -webkit-transition: background 0.25s ease;
    -o-transition: background 0.25s ease;
    transition: background 0.25s ease; }
    
.question input[type=submit] .hover {
    background: #8FC63F; 
}

/* GameOver Overlay */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, .82);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

body.overlay-is-open .main-ui {
    filter: blur(4px);
}

.overlay-inner p {
    font-size: 2.5rem;
    color: #fe4a49;
    padding: 0.4rem
}

.overlay-inner h3 {
    font-size: 1.3rem;
    color: #2ab7ca;
    padding: 0.2rem;
}

.overlay-inner h2 {
    font-size: 1.3rem;
    color: #8FC63F;
    padding: 0.2rem
}

.play-again{
    background-color: #2ab7ca; 
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Luckiest Guy'
  }

.play-again:hover {
    background-color: rgb(243, 243, 243); 
    color: #2ab7ca;
}

  /* For Tablets and larger screens */

@media (min-width: 1024px) {
    .navbar {
        font-size: 2em;
        padding: 1.5%;
    }
}