<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Games4Kids</title>
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Games 4 Kids</h1>
        </div>
    </header>
    <div class="container">
        <a href="/fruits4kids" class="game-overview">
            <img src = "/images/fruit-game.png" alt="fruits4kids"/>
            <h1>Fruit4Kids</h1>
        </a>
        <a href="/geo4kids" class="game-overview">
            <img src = "/images/capitals-game.jpg" alt="geo4kids"/>
            <h1>Geo4Kids</h1>
        </a>
        <a href="/math4kids" class="game-overview">
            <img src = "/images/math-game.png" alt="math4kids"/>
            <h1>Math4Kids</h1>
        </a>
    </div>
</body>
</html>